<!DOCTYPE html>
<!-- Website template by freewebsitetemplates.com -->
<html>
<head>
	<meta charset="UTF-8">
	<title>About - Travlr Getaways Web Template</title>
	<link rel="stylesheet" href="css/style.css" type="text/css">
	<link rel="icon" href="images/favicon.ico" type="image/x-icon">
</head>
<body>
	<div id="background">
		<div id="page">
			{{> header}}
			<div id="contents">
				<div class="box">
					<div>
						<div class="body">
							<h1>About</h1>
					{{#each aboutMain}}
							<h2>{{this.main}}</h2>
							{{{this.mainBody}}}
					{{/each}}	
							<hr>
							<div class="ads">							
					{{#each aboutSidebar}}
								<h2>{{this.title}}</h2>
								{{{this.body}}}
								
					{{/each}}	
							</div>
					{{#each aboutMiddle}}
							<h2>{{this.title}}</h2>
							{{{this.body}}}							
					{{/each}}	
						
						</div>
					</div>
				</div>
			</div>
		</div>
		{{> footer}}
	</div>
</body>
</html>