<!DOCTYPE html>
<!-- Website template by freewebsitetemplates.com -->
<html>
<head>
	<meta charset="UTF-8">
	<title>Travlr Getaways Website Template</title>
	<link rel="stylesheet" href="css/style.css" type="text/css">
	<link rel="icon" href="images/favicon.ico" type="image/x-icon">
</head>
<body>
	<div id="background">
		<div id="page">
			{{> header}}
			<div id="contents">
				<div id="adbox">
					{{#each main}}
					<img src="images/{{this.image}}" alt="Img">
					<h1>{{this.header}}</h1>
					<p>
						{{{this.description}}}
					</p>
					{{/each}}
				</div>
				<div id="main">
					<div class="box">
						<div>
							<div>
								<h3>Latest Blog</h3>
								<ul>
									{{#each blog}}
									<li>
										<h4><a href="{{this.link}}">{{this.header}}</a></h4>
										<span>{{this.date}}</span>
										<p>
											{{{this.description}}}
										</p>
									</li>
									{{/each}}
									
								</ul>
							</div>
						</div>
					</div>
					<div id="testimonials" class="box">
						<div>
							<div>
								<h3>Testimonials</h3>
								{{#each testimonials}}
								<p>
									“{{this.info}}” <span>- <a href="{{this.link}}">{{this.author}}</a></span>
								</p>
								{{/each}}
							</div>
						</div>
					</div>
				</div>

			<!-- changed dives.html to /travel until page dives is made -->	
			
				<div id="sidebar">
					{{#each sidebar}}
					<div class="section">						
						<a href="{{this.link}}"><img src="images/{{this.image}}" alt="Img"></a>
					</div>	
					{{/each}}
				</div>				
			</div>
		</div>
	    {{> footer}}					
	</div>
</body>
</html>